#divCanvas {
    border: solid 1px black;
    width: 800px;
    height: 600px;
    margin: auto;
    /*background-color: #61B4CF;  Un magnifique ciel bleu */
    background-image: url(../images/area1.gif);
    background-size: cover;
}